*{
  padding: 0;
  margin: 0;
  box-sizing: border-box; /* para os inputs nao passar da area da div em que eles estao*/
  font-family: 'opens Sans',sans-serif;
}
html,body,#hoot{
  background-color: #efefef;
  height: 100%;
}